{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": "off",
    "no-tabs": 0,
    "indent": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "default-param-last": 0,
    "import/prefer-default-export": "off",
    "arrow-parens": 0,
    "no-confusing-arrow": [
      "error",
      { "allowParens": true, "onlyOneSimpleParam": true }
    ],
    "react/require-default-props": "off",
    "eol-last": 0,
    "react/prop-types": 0,
    "no-shadow": "off",
    "react/no-array-index-key": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-closing-tag-location": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off"
  }
}
